## Lista De Exercícios (II) - Pandas

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/campeonato-brasileiro-full.csv')
print(df.shape)
df.head()

(7645, 14)

   ID  Rodada        Data  ... Mandante Estado Visitante Estado Estado Vencedor
0   1       1  2003-03-29  ...              SP               RJ              SP
1   2       1  2003-03-29  ...              PR               RS              PR
2   3       1  2003-03-30  ...              RJ               PR               -
3   4       1  2003-03-30  ...              GO               PA               -
4   5       1  2003-03-30  ...              RS               SP               -

[5 rows x 14 columns]

### (1) Calcule para todas às observações a diferença entre as colunas 'Mandante Placar' e 'Visitante Placar'.

In [ ]:
df.iloc[:, [9, 10]].apply(lambda x : x.max() - x.min(), axis = 1)

0       2
1       2
2       0
3       0
4       0
       ..
7640    2
7641    1
7642    1
7643    1
7644    0
Length: 7645, dtype: int64

### (2) Crie um MultiIndex para o DataFrame com as colunas Dia e Estado Mandante.

In [ ]:
df.set_index(['Dia', 'Mandante Estado'], inplace = True)

### (3) Classifique os dois níveis de índice em ordem crescente e salve no próprio DataFrame.

In [ ]:
df.sort_index(ascending = [True, True], inplace = True)

### (4) Inspecione o DataFrame.

In [ ]:
df

                               ID  Rodada  ... Visitante Estado Estado Vencedor
Dia         Mandante Estado                ...
Domingo     AL               6532       3  ...               SP               -
            AL               6582       8  ...               RJ              RJ
            AL               6663      16  ...               MG               -
            AL               6685      18  ...               SC              AL
            AL               6702      20  ...               CE              AL
...                           ...     ...  ...              ...             ...
Terça-feira SP               7356      10  ...               PR              SP
            SP               7449      19  ...               RS               -
            SP               7496      24  ...               BA              SP
            SP               7516      26  ...               GO              SP
            SP               7606      35  ...               MG               -

[7645 rows x 12 columns]

### (5) Selecione todos os jogos com o estado mandante como RJ.

In [ ]:
df.swaplevel().loc['RJ']

               ID  Rodada  ... Visitante Estado Estado Vencedor
Dia                        ...
Domingo         3       1  ...               PR               -
Domingo        24       2  ...               GO              RJ
Domingo        48       3  ...               RJ              RJ
Domingo        59       5  ...               PR               -
Domingo        72       6  ...               SP              RJ
...           ...     ...  ...              ...             ...
Terça-feira  5707      35  ...               PR               -
Terça-feira  5786       5  ...               PR               -
Terça-feira  6404      28  ...               RJ               -
Terça-feira  6945      11  ...               GO              RJ
Terça-feira  7622      36  ...               CE              RJ

[1347 rows x 12 columns]

### (6) Selecione todos os jogos com o estado mandante como RJ e que foram jogos ocorrentes no Sábado.

In [ ]:
df.swaplevel().loc['RJ'].loc['Sabado']

          ID  Rodada  ... Visitante Estado Estado Vencedor
Dia                   ...
Sabado    13       2  ...               CE               -
Sabado    51       5  ...               SP              SP
Sabado    73       7  ...               BA              RJ
Sabado    97       9  ...               SC              RJ
Sabado   112      10  ...               SP              RJ
...      ...     ...  ...              ...             ...
Sabado  7379      12  ...               RS              RS
Sabado  7506      25  ...               GO               -
Sabado  7538      28  ...               RJ              RJ
Sabado  7557      29  ...               MG              RJ
Sabado  7578      30  ...               PE              RJ

[376 rows x 12 columns]

In [ ]:
df.loc[('Sabado', 'RJ')]

                          ID  Rodada  ... Visitante Estado Estado Vencedor
Dia    Mandante Estado                ...
Sabado RJ                 13       2  ...               CE               -
       RJ                 51       5  ...               SP              SP
       RJ                 73       7  ...               BA              RJ
       RJ                 97       9  ...               SC              RJ
       RJ                112      10  ...               SP              RJ
...                      ...     ...  ...              ...             ...
       RJ               7379      12  ...               RS              RS
       RJ               7506      25  ...               GO               -
       RJ               7538      28  ...               RJ              RJ
       RJ               7557      29  ...               MG              RJ
       RJ               7578      30  ...               PE              RJ

[376 rows x 12 columns]

### (7) Selecione todos os jogos com o estado mandante como RJ e SP que ocorreram no Sábado e apenas selecione as colunas 'Arena' e 'Rodada'.

In [ ]:
df.loc['Sabado'].loc[['RS', 'SP'], ['Arena', 'Rodada']]

                             Arena  Rodada
Mandante Estado
RS                        olimpico       2
RS                       beira rio       3
RS                  alfredo jaconi       9
RS                       beira rio      11
RS                        olimpico      12
...                            ...     ...
SP               neo quimica arena      30
SP                         nabizao      32
SP               neo quimica arena      32
SP                         nabizao      36
SP                         morumbi      36

[661 rows x 2 columns]

In [ ]:
df.loc[('Sabado', ['RS', 'SP']), ['Arena', 'Rodada']]

                                    Arena  Rodada
Dia    Mandante Estado
Sabado RS                        olimpico       2
       RS                       beira rio       3
       RS                  alfredo jaconi       9
       RS                       beira rio      11
       RS                        olimpico      12
...                                   ...     ...
       SP               neo quimica arena      30
       SP                         nabizao      32
       SP               neo quimica arena      32
       SP                         nabizao      36
       SP                         morumbi      36

[661 rows x 2 columns]

### (8) Troque os níveis do MultiIndex e classifique o novo MultiIndex em ordem crescente.

In [ ]:
df.swaplevel().sort_index(ascending = [True, True], inplace = True)

### (9) Converta todos os elementos da coluna 'Estado Mandante' para lower.

In [ ]:
df.reset_index(inplace = True)

In [ ]:
df['Mandante Estado'] = df['Mandante Estado'].apply(lambda x : str(x.lower()))
df['Mandante Estado']

0       al
1       al
2       al
3       al
4       al
        ..
7640    sp
7641    sp
7642    sp
7643    sp
7644    sp
Name: Mandante Estado, Length: 7645, dtype: object

### (10) Verifique quantos dias na coluna 'Dia' contêm 'Feira'.

In [ ]:
print('A quantidade de dias que contêm Feira é: ', df[df['Dia'].str.contains('feira')].shape[0],'dias')

A quantidade de dias que contêm Feira é:  2304 dias

## SECÃO DE EXERCÍCIOS FINALIZADA.