In [ ]:
# Importação do método nativo do Python .glob:
# Importação do pandas para facilitar na importação de múltiplos arquivos:
import glob
import pandas as pd

In [ ]:
# Atribuição do caminho 'content' para a variável path:
# Atribuição da englobação conjuntiva de todos os arquivos.csv que estão no caminho path:
# Print dos arquivos.csv que foram recolhidos:
path = r'/content/'
filenames = glob.glob(path + '/*.csv')
print(filenames)

['/content/campeonato-brasileiro-full (1).csv', '/content/casa_para_venda.csv', '/content/horas_estudadas.csv']

In [ ]:
# Laço de repetição for para atribuir os dois arquivos.csv à uma lista que serão lidos
# como DataFrame pelo método do Pandas de leitura de csv:
lista_arquivos = []
for i in filenames:
  lista_arquivos.append(pd.read_csv(i))

In [ ]:
# Concatenção entre os dois arquivos.csv e atribuição à uma nova variável:
df_full = pd.concat(lista_arquivos, ignore_index = True)

In [ ]:
# Leitura das primeiras linhas de tal dataframe concatenado entre dois arquivos diferíveis:
df_full.head()

    ID  Rodada        Data   Hora  ... Quinta Sexta Sabado Domingo
0  1.0     1.0  2003-03-29  16:00  ...    NaN   NaN    NaN     NaN
1  2.0     1.0  2003-03-29  16:00  ...    NaN   NaN    NaN     NaN
2  3.0     1.0  2003-03-30  16:00  ...    NaN   NaN    NaN     NaN
3  4.0     1.0  2003-03-30  16:00  ...    NaN   NaN    NaN     NaN
4  5.0     1.0  2003-03-30  16:00  ...    NaN   NaN    NaN     NaN

[5 rows x 35 columns]

In [ ]:
# Leitura das últimas linhas de tal dataframe concatenado entre dois arquivos diferíveis:
df_full.tail()

       ID  Rodada Data Hora  Dia  ... Quarta Quinta Sexta Sabado  Domingo
18336 NaN     NaN  NaN  NaN  NaN  ...    NaN    NaN   NaN    NaN      NaN
18337 NaN     NaN  NaN  NaN  NaN  ...    1.0    3.0   0.0    0.0      3.0
18338 NaN     NaN  NaN  NaN  NaN  ...    0.0    4.0   3.0    1.0      2.0
18339 NaN     NaN  NaN  NaN  NaN  ...    4.0    5.0   6.0    0.0      0.0
18340 NaN     NaN  NaN  NaN  NaN  ...    2.0    0.0   0.0    1.0      2.0

[5 rows x 35 columns]

In [ ]:
# Importação de um arquivo.csv de horas estudadas por cada aluno:
df = pd.read_csv('/content/horas_estudadas.csv')
print(df.shape)
df

(4, 8)

     Nome  Segunda  Terça  Quarta  Quinta  Sexta  Sabado  Domingo
0  Victor        2      3       1       3      0       0        3
1  Amanda        0      3       0       4      3       1        2
2    Luis        1      2       4       5      6       0        0
3   Júlia        1      1       2       0      0       1        2

In [ ]:
# Função min() para obtermos os valores mínimos de cada coluna com o axis = 0:
df.min(axis = 0)

Nome       Amanda
Segunda         0
Terça           1
Quarta          0
Quinta          0
Sexta           0
Sabado          0
Domingo         0
dtype: object

In [ ]:
# Axis = 0 na função min() para obtermos o menor valor de cada linha:
df.min(axis = 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

0    0
1    0
2    0
3    0
dtype: int64

In [ ]:
# Exemplo de criação de uma função para aplicarmos no dataframe com o método apply ou applymap:
def soma(a, b):
  return a + b
soma(2, 2)

4

In [ ]:
# Criação de uma função para realizarmos a subtração entre o valor máximo e o valor mínimo:
def sub_max_min(df):
  return df.max() - df.min()

In [ ]:
# Iremos separar do dataframe original a coluna 'Nome' para podermos ter somente colunas numéricas:
df2 = df.drop('Nome', axis = 1)
print(df2.shape)
df2

(4, 7)

   Segunda  Terça  Quarta  Quinta  Sexta  Sabado  Domingo
0        2      3       1       3      0       0        3
1        0      3       0       4      3       1        2
2        1      2       4       5      6       0        0
3        1      1       2       0      0       1        2

In [ ]:
# Aplicação da função de subtração entre o maior e o menor valor do dataframe sobre cada coluna:
df2.apply(sub_max_min, axis = 0)

Segunda    2
Terça      2
Quarta     4
Quinta     5
Sexta      6
Sabado     1
Domingo    3
dtype: int64

In [ ]:
# Aplicação da função de subtração entre o maior e o menor valor do dataframe sobre cada linha:
df2.apply(sub_max_min, axis = 1)

0    3
1    4
2    6
3    2
dtype: int64

In [ ]:
# Aplicação da função de subtração em cada coluna com uma função anônima lambda:
df2.apply(lambda x : x.max() - x.min(), axis = 0)

Segunda    2
Terça      2
Quarta     4
Quinta     5
Sexta      6
Sabado     1
Domingo    3
dtype: int64

In [ ]:
# Aplicação da função de subtração em cada linha com uma função anônima lambda:
df2.apply(lambda x : x.max() - x.min(), axis = 1)

0    3
1    4
2    6
3    2
dtype: int64

In [ ]:
# Função lambda aplicável para obtermos o retorno das primeiras letras de cada nome da coluna 'Nome':
df.Nome.apply(lambda x : x[0])

0    V
1    A
2    L
3    J
Name: Nome, dtype: object

In [ ]:
# Função lambda aplicável para obtermos o retorno do quadrado de cada elemento numérico:
df2.apply(lambda x : x**2, axis = 0)

   Segunda  Terça  Quarta  Quinta  Sexta  Sabado  Domingo
0        4      9       1       9      0       0        9
1        0      9       0      16      9       1        4
2        1      4      16      25     36       0        0
3        1      1       4       0      0       1        4

In [ ]:
# Método len aplicado somente a dados do tipo string (caso tenhamos somente um valor atributivo à variável):
nome = 'João Victor'
len(nome)

11

In [ ]:
# Método len aplicado sob todos os elementos do dataframe para sabermos a quantidade de caractereses presentes em cada elemento:
# Com a função applymap que aplica sob todos os elementos do dataframe:
df.applymap(lambda x : len(str(x)))

   Nome  Segunda  Terça  Quarta  Quinta  Sexta  Sabado  Domingo
0     6        1      1       1       1      1       1        1
1     6        1      1       1       1      1       1        1
2     4        1      1       1       1      1       1        1
3     5        1      1       1       1      1       1        1

In [ ]:
# Função applymap aplicável sob todos os elementos do dataframe que terão somaticamente uma atribuição de '_X_':
df.applymap(lambda x : '_X_' + str(x))

        Nome Segunda Terça Quarta Quinta Sexta Sabado Domingo
0  _X_Victor    _X_2  _X_3   _X_1   _X_3  _X_0   _X_0    _X_3
1  _X_Amanda    _X_0  _X_3   _X_0   _X_4  _X_3   _X_1    _X_2
2    _X_Luis    _X_1  _X_2   _X_4   _X_5  _X_6   _X_0    _X_0
3   _X_Júlia    _X_1  _X_1   _X_2   _X_0  _X_0   _X_1    _X_2

In [ ]:
# Importação do dataset do campeonato brasileiro:
df = pd.read_csv('/content/campeonato-brasileiro-full (1).csv')
print(df.shape)
df.head()

(7645, 14)

   ID  Rodada        Data  ... Mandante Estado Visitante Estado Estado Vencedor
0   1       1  2003-03-29  ...              SP               RJ              SP
1   2       1  2003-03-29  ...              PR               RS              PR
2   3       1  2003-03-30  ...              RJ               PR               -
3   4       1  2003-03-30  ...              GO               PA               -
4   5       1  2003-03-30  ...              RS               SP               -

[5 rows x 14 columns]

In [ ]:
# Amostra de 30 observações do dataset atribuída à uma variável:
df_sample  = df.sample(n = 30)
print(df_sample.shape)
df_sample.head()

(30, 14)

        ID  Rodada        Data  ... Mandante Estado Visitante Estado Estado Vencedor
5775  5776       4  2017-06-03  ...              PR               PR              PR
4977  4978      38  2014-12-06  ...              SC               RS              RS
3803  3804      34  2011-11-13  ...              RJ               RJ              RJ
6150  6148       3  2018-04-29  ...              CE               RJ              RJ
6902  6903       2  2020-08-13  ...              SP               CE              SP

[5 rows x 14 columns]

In [ ]:
# Atribuição de colunas como índices para formar um dataframe multíndice:
df_sample.set_index(['Dia', 'Visitante Placar'], inplace = True)
df_sample.head()

                                 ID  Rodada  ... Visitante Estado Estado Vencedor
Dia          Visitante Placar                ...
Sabado       0                 5776       4  ...               PR              PR
             2                 4978      38  ...               RS              RS
Domingo      0                 3804      34  ...               RJ              RJ
             3                 6148       3  ...               RJ              RJ
Quinta-feira 0                 6903       2  ...               CE              SP

[5 rows x 12 columns]

In [ ]:
# Ordenação do índice do menor para o maior ou do maior para o menor:
# Ascending = True (ordem crescente) e False (ordem decrescente)
df_sample.sort_index()

                                 ID  Rodada  ... Visitante Estado Estado Vencedor
Dia          Visitante Placar                ...
Domingo      0                 3804      34  ...               RJ              RJ
             0                 6685      18  ...               SC              AL
             0                   59       5  ...               PR               -
             0                 1354      23  ...               SP              MG
             0                  310      26  ...               SP               -
             1                 1711      15  ...               RS              SP
             2                 4655       5  ...               MG              MG
             2                  162      14  ...               RJ               -
             2                 3030      33  ...               SP               -
             2                 7269       1  ...               CE              CE
             2                 4272       5  ...               PR              BA
             2                 2226      27  ...               MG              MG
             3                 6148       3  ...               RJ              RJ
             3                 1148       4  ...               RJ              RJ
Quarta-feira 0                 5809       7  ...               SP               -
             1                 2478      16  ...               PR              BA
             1                 3280      20  ...               SP              GO
             3                 2559      24  ...               RJ              RJ
             3                 6197       8  ...               RS              RS
Quinta-feira 0                 6903       2  ...               CE              SP
             0                 7265      38  ...               CE              RJ
             1                 7261      38  ...               RJ              CE
Sabado       0                 5776       4  ...               PR              PR
             0                 1022      40  ...               MG              GO
             0                 5629      27  ...               RJ              MG
             0                 2051      10  ...               PR              RJ
             1                 5627      27  ...               PR              SP
             1                  255      22  ...               PA               -
             1                 3167       9  ...               PR              RJ
             2                 4978      38  ...               RS              RS

[30 rows x 12 columns]

In [ ]:
# Ordenação inversa dos dois índices, o Dia será ordenado do 'maior' (Segunda) para o 'menor' (Domingo) dia
# e Visitante Placar será ordenado do menor para o maior número de Visitante Placar:
df_sample.sort_index(ascending = [False, True], inplace = True)
df_sample.head()

                           ID  Rodada  ... Visitante Estado Estado Vencedor
Dia    Visitante Placar                ...
Sabado 0                 5776       4  ...               PR              PR
       0                 1022      40  ...               MG              GO
       0                 5629      27  ...               RJ              MG
       0                 2051      10  ...               PR              RJ
       1                 5627      27  ...               PR              SP

[5 rows x 12 columns]

In [ ]:
# Como resetar os índices, ou seja, retira-los do índice:
df_sample.reset_index(inplace = True)
df_sample.head()

      Dia  Visitante Placar  ...  Visitante Estado  Estado Vencedor
0  Sabado                 0  ...                PR               PR
1  Sabado                 0  ...                MG               GO
2  Sabado                 0  ...                RJ               MG
3  Sabado                 0  ...                PR               RJ
4  Sabado                 1  ...                PR               SP

[5 rows x 14 columns]

In [ ]:
# Atribuição de colunas ao índice para termos novamente um dataframe multíndice:
df_sample.set_index(['Dia','Mandante Placar'], inplace = True)
df_sample.head()

                        Visitante Placar    ID  ...  Visitante Estado Estado Vencedor
Dia    Mandante Placar                          ...
Sabado 1                               0  5776  ...                PR              PR
       1                               0  1022  ...                MG              GO
       1                               0  5629  ...                RJ              MG
       2                               0  2051  ...                PR              RJ
       2                               1  5627  ...                PR              SP

[5 rows x 12 columns]

In [ ]:
# Tal função irá inverter os índices, o primeiro será transformado em segundo índice e vice-versa:
df_sample.swaplevel()

                              Visitante Placar  ...  Estado Vencedor
Mandante Placar Dia                             ...
1               Sabado                       0  ...               PR
                Sabado                       0  ...               GO
                Sabado                       0  ...               MG
2               Sabado                       0  ...               RJ
                Sabado                       1  ...               SP
1               Sabado                       1  ...                -
3               Sabado                       1  ...               RJ
1               Sabado                       2  ...               RS
                Quinta-feira                 0  ...               SP
2               Quinta-feira                 0  ...               RJ
                Quinta-feira                 1  ...               CE
0               Quarta-feira                 0  ...                -
2               Quarta-feira                 1  ...               BA
3               Quarta-feira                 1  ...               GO
2               Quarta-feira                 3  ...               RJ
                Quarta-feira                 3  ...               RS
                Domingo                      0  ...               RJ
                Domingo                      0  ...               AL
0               Domingo                      0  ...                -
1               Domingo                      0  ...               MG
0               Domingo                      0  ...                -
2               Domingo                      1  ...               SP
1               Domingo                      2  ...               MG
2               Domingo                      2  ...                -
                Domingo                      2  ...                -
1               Domingo                      2  ...               CE
3               Domingo                      2  ...               BA
0               Domingo                      2  ...               MG
                Domingo                      3  ...               RJ
                Domingo                      3  ...               RJ

[30 rows x 12 columns]

In [ ]:
# Atribuição de um nome do tipo str à uma variável:
nome = 'Método Voyager'
type(nome)

str

In [ ]:
# Método len() para sabermos a quantidade de caracteres no elemento atributivo à variável 'nome':
len(nome)

14

In [ ]:
# Transformar todas as letras do nome atribuído à variável em letras minúsculas:
nome.lower()

'método voyager'

In [ ]:
# Transformar todas as letras do nome atribuído à variável em letras maiúsculas:
nome.upper()

'MÉTODO VOYAGER'

In [ ]:
# Transformar o nome atribuído à variável no formato de título:
nome.title()

'Método Voyager'

In [ ]:
# Dividir e quebrar o elemento em dois com o método split():
nome.split()

['Método', 'Voyager']

In [ ]:
# Substituir uma parte do elemento por outra com o método replace():
nome.replace('Método', 'Especialista Em Dados')

'Especialista Em Dados Voyager'

In [ ]:
# Dataframe dos jogos do Brasileirão para manipularmos as colunas do tipo object (str):
df.head()

   ID  Rodada        Data  ... Mandante Estado Visitante Estado Estado Vencedor
0   1       1  2003-03-29  ...              SP               RJ              SP
1   2       1  2003-03-29  ...              PR               RS              PR
2   3       1  2003-03-30  ...              RJ               PR               -
3   4       1  2003-03-30  ...              GO               PA               -
4   5       1  2003-03-30  ...              RS               SP               -

[5 rows x 14 columns]

In [ ]:
# Atribuição das dez arenas das dez primeiras linhas à variável arenas:
arenas = df.loc[:10, 'Arena'].copy()
arenas

0       brinco de ouro
1     arena da baixada
2             maracana
3        serra dourada
4            beira rio
5      heriberto hulse
6       alfredo jaconi
7             castelao
8             mineirao
9             barradao
10        vila belmiro
Name: Arena, dtype: object

In [ ]:
# Método info() para obtermos informações generalizadas do conjunto de dados do Brasileirão:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7645 entries, 0 to 7644
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                7645 non-null   int64
 1   Rodada            7645 non-null   int64
 2   Data              7645 non-null   object
 3   Hora              7645 non-null   object
 4   Dia               7645 non-null   object
 5   Mandante          7645 non-null   object
 6   Visitante         7645 non-null   object
 7   Vencedor          7645 non-null   object
 8   Arena             7645 non-null   object
 9   Mandante Placar   7645 non-null   int64
 10  Visitante Placar  7645 non-null   int64
 11  Mandante Estado   7645 non-null   object
 12  Visitante Estado  7645 non-null   object
 13  Estado Vencedor   7645 non-null   object
dtypes: int64(4), object(10)
memory usage: 836.3+ KB

In [ ]:
# Verificação do tipo de dados presente na variável arenas:
arenas.dtypes

dtype('O')

In [ ]:
# arenas é uma Series que há como ser indexada com colchetes e os valores correspondentes dos índices:
arenas[0]

'brinco de ouro'

In [ ]:
# Tipo de dados do primeiro elemento da Series presentes na variável arenas:
type(arenas[0])

str

In [ ]:
# Como transformar todas as letras dos elementos da Series arenas em letras minúsculas:
arenas.str.lower()

0       brinco de ouro
1     arena da baixada
2             maracana
3        serra dourada
4            beira rio
5      heriberto hulse
6       alfredo jaconi
7             castelao
8             mineirao
9             barradao
10        vila belmiro
Name: Arena, dtype: object

In [ ]:
# Como transformar todos os elementos da Series arenas no formato de título:
arenas.str.title()

0       Brinco De Ouro
1     Arena Da Baixada
2             Maracana
3        Serra Dourada
4            Beira Rio
5      Heriberto Hulse
6       Alfredo Jaconi
7             Castelao
8             Mineirao
9             Barradao
10        Vila Belmiro
Name: Arena, dtype: object

In [ ]:
# Como transformar todos os elementos da Series arenas em letras maiúsculas:
arenas.str.upper()

0       BRINCO DE OURO
1     ARENA DA BAIXADA
2             MARACANA
3        SERRA DOURADA
4            BEIRA RIO
5      HERIBERTO HULSE
6       ALFREDO JACONI
7             CASTELAO
8             MINEIRAO
9             BARRADAO
10        VILA BELMIRO
Name: Arena, dtype: object

In [ ]:
# Series Arenas do conjunto de dados da variável df:
df.Arena

0                 brinco de ouro
1               arena da baixada
2                       maracana
3                  serra dourada
4                      beira rio
                  ...
7640    estadio raimundo sampaio
7641                     nabizao
7642              alfredo jaconi
7643             arena do gremio
7644     estadio urbano caldeira
Name: Arena, Length: 7645, dtype: object

In [ ]:
# Split aplicada a coluna 'Arena':
df.Arena.str.split(' ')

0                 [brinco, de, ouro]
1               [arena, da, baixada]
2                         [maracana]
3                   [serra, dourada]
4                       [beira, rio]
                    ...
7640    [estadio, raimundo, sampaio]
7641                       [nabizao]
7642               [alfredo, jaconi]
7643             [arena, do, gremio]
7644     [estadio, urbano, caldeira]
Name: Arena, Length: 7645, dtype: object

In [ ]:
# Filtragem dos dados str da coluna Arena que contêm o elemento sao:
df[df.Arena.str.contains('sao')]

        ID  Rodada        Data  ... Mandante Estado Visitante Estado Estado Vencedor
23      24       2  2003-04-06  ...              RJ               GO              RJ
43      32       4  2003-04-16  ...              RJ               SP               -
71      72       6  2003-04-27  ...              RJ               SP              RJ
88      89       8  2003-05-11  ...              RJ               BA               -
111    112      10  2003-05-24  ...              RJ               SP              RJ
...    ...     ...         ...  ...             ...              ...             ...
4415  4416      19  2013-09-08  ...              RJ               PR               -
4430  4431      21  2013-09-15  ...              RJ               SP              SP
4436  4437      22  2013-09-18  ...              RJ               BA              BA
4692  4694       9  2014-06-01  ...              SP               SC              SP
4958  4960      36  2014-11-23  ...              RJ               SC               -

[172 rows x 14 columns]

In [ ]:
# Filtragem dos dados da coluna Dia que contêm um traço presente:
df[df.Dia.str.contains('-')]

        ID  Rodada        Data  ... Mandante Estado Visitante Estado Estado Vencedor
36      25       4  2003-04-09  ...              PA               SP              PA
37      26       4  2003-04-16  ...              BA               RS              BA
38      27       4  2003-04-16  ...              RS               BA              RS
39      28       4  2003-04-16  ...              MG               SP              MG
40      29       4  2003-04-16  ...              SC               PR               -
...    ...     ...         ...  ...             ...              ...             ...
7640  7640      38  2021-12-09  ...              MG               SP              MG
7641  7641      38  2021-12-09  ...              SP               RS              SP
7642  7643      38  2021-12-09  ...              RS               SP              RS
7643  7644      38  2021-12-09  ...              RS               MG              RS
7644  7645      38  2021-12-09  ...              SP               MT               -

[2304 rows x 14 columns]

In [ ]:
# Separação dos elementos do tipo texto com o método split():
df.Dia.str.split('-')

0              [Sabado]
1              [Sabado]
2             [Domingo]
3             [Domingo]
4             [Domingo]
             ...
7640    [Quinta, feira]
7641    [Quinta, feira]
7642    [Quinta, feira]
7643    [Quinta, feira]
7644    [Quinta, feira]
Name: Dia, Length: 7645, dtype: object